﻿@using SeizmoloskiZavod.Bll
@model SeizmoloskiZavod.Bll.Seizmograf

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Seizmogram> seizmogrami = ViewData["seizmogrami"] as IEnumerable<Seizmogram>;
}

<h2>Detalji</h2>

<div>
    <h4>Seizmograf</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Naziv</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazSeizmografa)
        </dd>
        <dt>
            <b>Visina</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisinaSeizmografa)
        </dd>

        <dt>
            <b>Latituda</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatitudaSeizmografa)
        </dd>

        <dt>
            <b>Longituda</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongitudaSeizmografa)
        </dd>

        <dt>
            <b>Naziv postaje</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostajaSeizmografa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ažuriraj", "Edit", new { id = Model.IdSeizmografa }) |
    @Html.ActionLink("Natrag na popis", "Index")
</p>

<h2>Zabilježeni seizmogrami</h2>

<table class="table">
    <tr>
        <th>
            <b>Datum i vrijeme</b>
        </th>
        <th>
            <b>Pomak Istok-Zapad</b>
        </th>
        <th>
            <b>Pomak Sjever-Jug</b>
        </th>
        <th>
            <b>Vertikalni Pomak</b>
        </th>
        <th></th>
    </tr>

    @{
        foreach (Seizmogram seizmogram in seizmogrami)
        {
            if (seizmogram != null && seizmogram.IdSeizmografa == Model.IdSeizmografa)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => seizmogram.DatumVrijemeSeizmograma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => seizmogram.PomakIZSeizmograma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => seizmogram.PomakSJSeizmograma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => seizmogram.PomakVertSeizmograma)
        </td>

        <td>
            @using (Html.BeginForm("Delete", "Seizmogrami", new { id = seizmogram.IdSeizmograma }))
            {
                <button class="btn btn-danger">Obriši</button>
            }
        </td>
    </tr>

            }
        }
    }

</table>

