﻿@model SeizmoloskiZavod.Bll.Seizmograf

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ažuriranje</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Seizmograf</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdSeizmografa)

    <div class="form-group">
        <b class="control-label col-md-2">Naziv</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NazSeizmografa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NazSeizmografa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Naziv postaje</b>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.IdPostajeSeizmografa, (SelectList)ViewBag.IdPostajeList,
            null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdPostajeSeizmografa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Visina</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.VisinaSeizmografa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.VisinaSeizmografa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Latituda</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LatitudaSeizmografa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LatitudaSeizmografa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Longituda</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LongitudaSeizmografa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LongitudaSeizmografa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Spremi" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Natrag na popis", "Index")
</div>
