﻿@model SeizmoloskiZavod.Bll.SeizmografInfoList

@{
    ViewBag.Title = "Mjerenje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>

<h4>Seizmografi</h4>
@using (Html.BeginForm("Mjerenje", "Seizmografi", FormMethod.Post))
{

    foreach (var item in Model)
    {
        <div class="checkbox">
            <input type="checkbox" id="@item.IdSeizmografa" name="@item.IdSeizmografa" />
            <label for="@item.IdSeizmografa">@item.NazSeizmografa</label>
        </div>
    }
    <button type="submit" class="btn btn-success btn-block">Pošalji zahtjeve za mjerenja</button>
}