﻿@model SeizmoloskiZavod.Bll.Postaja

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obriši</h2>

<h3>Jeste li sigurni da želite obrisati?</h3>
<div>
    <h4>Postaja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Naziv</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazPostaje)
        </dd>

        <dt>
            <b>Mjesto</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MjestoPostaje)
        </dd>

    </dl>

    @using (Html.BeginForm()) {

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Natrag na popis", "Index")
        </div>
    }
</div>
