﻿@model SeizmoloskiZavod.Bll.Postaja

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ažuriranje</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Postaja</h4>
        <hr />
        <div class="form-group">
            <b class="control-label col-md-2">Naziv</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NazPostaje, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2">Mjesto</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MjestoPostaje, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Natrag na popis", "Index")
</div>
