﻿@model SeizmoloskiZavod.Bll.Obavijest

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obriši</h2>

<h3>Jeste li sigurni da želite obrisati?</h3>
<div>
    <h4>Seizmograf</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Naslov</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaslovObavijesti)
        </dd>
        <dt>
            <b>Sadržaj</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SadrzajObavijesti)
        </dd>

        <dt>
            <b>Datum i vrijeme</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumVrijemeObavijesti)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Natrag na popis", "Index")
        </div>
    }
</div>