﻿@model IEnumerable<SeizmoloskiZavod.Bll.Obavijest>
@using SeizmoloskiZavod.Bll

@{
    ViewBag.Title = "Home Page";
    IEnumerable<TipObavijesti> tipovi = ViewData["tipovi"] as IEnumerable<TipObavijesti>;

}
<div class="jumbotron">
    <h1>SeismoNet</h1>
    <p>Informacijski sustav seizmološkog zavoda Republike Hrvatske.</p>
</div>
@foreach (var item in Model)
{
    <p></p>
    <div class="row">
        <b class="column-md-4">
            [@{
                foreach (TipObavijesti tip in tipovi)
                {
                    if (tip.IdTipa == item.IdTipaObavijesti)
                    {
                        @Html.DisplayFor(modelItem => tip.NazTipa)
                    }
                }
            }] - @Html.DisplayFor(modelItem => item.NaslovObavijesti)
        </b>
        <div class="column-md-4">
            @Html.DisplayFor(modelItem => item.SadrzajObavijesti)
        </div>
        <div class="column-md-4">
            @Html.DisplayFor(modelItem => item.DatumVrijemeObavijesti)
        </div>
    </div>
}
