﻿@model SeizmoloskiZavod.Bll.Zaposlenik

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stvaranje novog zaposlenika</h2>

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <h4>Zaposlenik</h4>
    <hr />
    <div class="form-group">
        <b class="control-label col-md-2">Ime</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ImeZaposlenika, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Prezime</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PrezimeZaposlenika, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">OIB</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.OIBZaposlenika, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Korisnicko ime</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.KorisnickoImeZaposlenika, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Hash lozinke</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LozinkaHashZaposlenika, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Uloga</b>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.IdUlogeZaposlenika, (SelectList)ViewBag.IdUlogeList,
            null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdUlogeZaposlenika, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Spremi" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Natrag na popis", "Index")
</div>