﻿@model SeizmoloskiZavod.Bll.Zaposlenik

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Zaposlenik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Ime</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImeZaposlenika)
        </dd>

        <dt>
            <b>Prezime</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrezimeZaposlenika)
        </dd>

        <dt>
            <b>OIB</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIBZaposlenika)
        </dd>

        <dt>
            <b>Korisničko ime</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KorisnickoImeZaposlenika)
        </dd>

        <dt>
            <b>Hash lozinke</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LozinkaHashZaposlenika)
        </dd>

        <dt>
            <b>Uloga</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UlogaZaposlenika)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Natrag na popis", "Index")
        </div>
    }
</div>
